 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


 body{
    background: hsl(233, 47%, 7%);
 }

.stylehead{
    color:#aa5cdb;
}


.wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    flex-direction: column-reverse;
    margin-top: 2em;

}

.imagenMobile {
    display: flex;
    width: 20em;
    filter: brightness();
    border-radius: 10px 10px 0px 0px;
}

.title {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);
    gap: 3em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}



.imagen{
    background-image: url('./images/image-header-desktop.jpg');
    width: 540px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: auto;
}
.information_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin: 0em
}

.styleinfo {
    display: flex;
    list-style: none;
    gap: 3em;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

.images {
    background-color: hsl(277, 64%, 61%);
    border-radius: 10px 10px 0px 0px;
}

img{
    mix-blend-mode: multiply;
    opacity: 0.8;
}


.imageDesktop{
  display: none;
}

.infodataanalitycs{
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.6);
    font-size: 16px;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}


.stylenumber{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: larger;
    margin: 0;
    text-align: center;
}



@media screen and (min-width: 376px) {

    .title{
        color:hsl(0, 0%, 100%);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: xx-large;
        text-align: initial;
    }

    .images {
        background-color: hsl(277, 64%, 61%);
        border-radius: 0px 10px 10px 0px;


    }


    .wrapper{
        min-height:100vh;
        display: flex;
        align-items: center;
         justify-content: center;
         flex-direction: row;
    }

    .imageDesktop {
        display: flex;
        height: 46.6vh;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .imagenMobile{
        display: none;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: hsl(244, 38%, 16%);
        color: hsl(0, 0%, 100%);
        width: 405px;
        padding: 3em;
        gap: 1em;
        border-radius: 10px 0px 0px 10px;
    }

    .stylenumber{
        color: rgb(255, 255, 255);
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: larger;
        margin: 0px;
    }

    .styleinfo{
        display: flex;
        list-style: none;
        gap: 3em;
        margin-top: 4rem;
        padding: 0;
        flex-direction: row;

    }

    .infodataanalitycs{
        font-family: 'Lexend Deca', sans-serif;
        color:hsla(0, 0%, 100%, 0.6);
        font-size: 15px;
        margin: 0;
        text-align: initial;
        line-height: 1.5;
    }

    .colorimages{
        background-image: url('./images/image-header-desktop.jpg');
        width: 20px;
        height: 30px;
    }


}
