:root{
    --backgorund-color:hsl(233, 47%, 7%);
    --purple:hsl(277, 64%, 61%);
    --slighty-trasnparent:hsla(0, 0%, 100%, 0.75);
    --dark-desaturated:hsl(244, 38%, 16%);
}

@font-face{
        font-family: 'Inter';
        src:url('./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf'),
            local('Inter-Regular'),
            local('Inter-Bold');
}

@font-face{
        font-family: 'Lexend';
        src:url('./fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf'),
            local('Lexend_Deca-Regular.ttf'),
}

 body{
        display:flex;
        background: var(--backgorund-color);
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 1rem;
 }

.styleHeader{
        color:var(--purple);
}

.info{
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        max-width: 540px;
        padding: 5px;
        background:var(--dark-desaturated);
}

.wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin: auto;
}

.imagenMobile {
        display: flex;
        width: 100%;
        filter: brightness();
        border-radius: 10px 10px 0px 0px;
        background-color: var(--backgorund-color);
}

.title {
        color: var(--slighty-trasnparent);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: xx-large;
        text-align: center;
}

.information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--slighty-trasnparent);
        width: auto;
}

.information_data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        margin: 0em
}

.styleinfo {
        display: flex;
        list-style: none;
        gap: 3em;
        margin: 1rem;
        padding: 0;
        flex-direction: column;
        text-align: center;
}

.images {
        background-color: var(--purple);
        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        width: 100%;
        background-repeat: no-repeat;
}

img{
        mix-blend-mode: multiply;
        opacity: 0.8;
}


.imageDesktop{
        display: none;
        background-color: var(--backgorund-color);
}

.infodataanalitycs{
        font-family: 'Lexend Deca', sans-serif;
        color:var(--slighty-trasnparent);
        font-size: 16px;
        margin: 0;
        text-align: center;
        line-height: 1.5;
}

.infoImages{
    display: flex;
}


.stylenumber{
        color: var(--slighty-trasnparent);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size:x-large;
        margin: 0;
        text-align: center;
}

@media screen and (min-width: 768px) {
     body{
             padding: 0px;
             height: 100vh;
             display: flex;
             justify-content: center;
     }

    .title{
        color:var(--slighty-trasnparent);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: xx-large;
        text-align: initial;
    }

    .images {
            background-color: var(--purple);
            border-radius: 0px 10px 10px 0px;
            width: auto;
    }

    .wrapper{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 1rem;
            height: 480px;
    }

    .imageDesktop {
            display: flex;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
    }

    .imagenMobile{
            display: none;
    }

    .information {
            color: var(--slighty-trasnparent);
            height: 100%;
            gap: 1em;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    }

    .stylenumber{
            color: var(--slighty-trasnparent);
            font-family: Inter, sans-serif;
            font-weight: 700;
            margin: 0px;
    }

    .styleinfo{
            display: flex;
            list-style: none;
            gap: 3em;
            margin-top: 4rem;
            padding: 0;
            flex-direction: row;

    }

    .infodataanalitycs{
            font-family: 'Lexend Deca', sans-serif;
            color:var(--slighty-trasnparent);
            font-size: 15px;
            margin: 0;
            text-align: initial;
            line-height: 1.5;
    }


    .info{
            border-radius: 10px 0px 0px 10px;
            height:80%;
            background:var(--dark-desaturated);
            padding: 3rem;
            width: 28%;
    }

    .information_data{
            justify-content: center;
    }
}
