 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


 body{
    background: hsl(233, 47%, 7%);
 }

.stylehead{
    color:#aa5cdb;
}


.wrapper {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    flex-direction: column-reverse;
}

.imagenMobile {
    display: flex;
    width: 20em;
    filter: brightness();
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    filter: invert(23%) sepia(4%) saturate(3837%) hue-rotate(243deg) brightness(80%) contrast(145%);
}

.title {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0%, 100%);
    gap: 3em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}



.imagen{
    background-image: url('./images/image-header-desktop.jpg');
    width: 540px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: auto;
}
.information_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin: 0em
}

.styleinfo {
    display: flex;
    list-style: none;
    gap: 3em;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
}



.imageDesktop{
  display: none;
}

.infodataanalitycs{
    font-family: 'Lexend Deca', sans-serif;
    color:hsla(0, 0%, 100%, 0.6);
    font-size: 16px;
    margin: 0;
    text-align: center;

}


.stylenumber{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    margin: 0;
    text-align: center;
}



@media screen and (min-width: 376px) {

    .title{
        color:hsl(0, 0%, 100%);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: xx-large;
        text-align: initial;
    }


    .wrapper{
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        flex-direction: row;
        padding: 103px;
    }

    .imageDesktop{
        display: flex;
        width: 540px;
        height: 440px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        filter: invert(23%) sepia(4%) saturate(3837%) hue-rotate(243deg) brightness(80%) contrast(145%);
    }

    .imagenMobile{
        display: none;
    }

    .information{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: hsl(244, 38%, 16%);
        color: hsl(0, 0%, 100%);
        width: 405px;
        padding: 3em;
        gap: 3em;
        border-radius: 10px 0px 0px 10px;
    }

    .stylenumber{
        color:hsl(0, 0%, 100%);
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: xx-large;
        margin: 0;
    }

    .styleinfo{
        display: flex;
        list-style: none;
        gap: 3em;
        margin: 0;
        padding: 0;
        flex-direction: row;

    }

    .infodataanalitycs{
        font-family: 'Lexend Deca', sans-serif;
        color:hsla(0, 0%, 100%, 0.6);
        font-size: 15px;
        margin: 0;
        text-align: initial;
    }

    .colorimages{
        background-image: url('./images/image-header-desktop.jpg');
        width: 20px;
        height: 30px;
    }


}
